<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.zerock.scheduler.repository.SchedulerRepository">
    <insert id="schedule_add">
        insert into scheduler
            <include refid="schedule_cols"/>
        values
            (#{schedule_number}, #{schedule_subkect}, #{schedule_subject}, #{schedule_desc},
             #{schedule_date}. #{schedule_share}, #{schedule_mycolor})
    </insert>

    <sql id="schedule_cols">
        (schedule_idx, schedule_num, schedule_subject, schedule_desc, schedule_date,
            schedule_share, schedule_mycolor)
    </sql>
    <select id="before_schedule_add_search" resultType="int">
        select count(*) from scheduler where schedule_date = #{schedule_date}
    </select>
    <select id="schedule_list" resultType="org.zerock.scheduler.calendar.ScheduleDto">
        select * from scheduler where schedule_date &gt;= #{db_startDate} and schedule_date
    &lt;= #{db_endDate}
        order by schedule_date, schedule_num, schedule_idx
    </select>

    <select id="get" resultType="org.zerock.scheduler.calendar.ScheduleDto">
        <![CDATA[select  * from scheduler where schedule_idx = #{schedule_idx}]]>
    </select>

    <update id="update">
        update scheduler
        set schedule_num = #{schedule_num},
            schedule_subject = #{schedule_subject},
            schedule_desc = #{schedule_desc},
            schedule_date = #{schedule_date},
            schedule_share = #{schedule_share},
            schedule_mycolor = #{schedule_mycolor}
        where schedule_idx = #{schedule_idx}
    </update>

    <delete id="delete">
        delete from scheduler where schedule_idx=#{schedule_idx}
    </delete>
</mapper>